*.iml
*.ipr
*.iws

**/.DS_Store
work/

**/.classpath
**/.project
**/.settings/
**/target/**/*
**/target
/target
/.settings
/.project
**/.checkstyle
**/.checkstyle-rules
**/.fbprefs
**/.findbugs-excludes
**/.pmd
**/.ruleset
**/bin/
*.swp
*.iml
*.ipr
*.iws
